.vite
node_modules
.DS_Store

esbuild-kit
v8-compile-cache-0

.pnpm-debug.log
.idea
.vscode

/prep
/.iroha
/packages/core/crypto/wasm/
**/*_generated_.ts
/packages/core/data-model/schema/schema.json

